{% extends "layout/base.html" %}

{% block title %}
    データ削除
{% endblock %}

{% block header %}
    {{ super() }}

    <h1>卓球分析</h1>
{% endblock %}

{% block main %}
    <div>
        <h2>削除したいデータベースのidを入力してください</h2>
    </div>

    <form method="post" action="{{url_for('post_delete')}}" onsubmit="return confirmDelete()">
        <div>
            <table border="1">
                <tr>
                    <th>id</th>
                </tr>
                <tr>
                    <td><input type="number" name="id" required></td>
                </tr>
            </table>
        </div>

        <div>
            <input type="submit" value="削除する">
            <label>
                <input type="reset" value="リセットする">
            </label>
        </div>
    </form>
{% endblock %}

{% block footer %}
    {{ super() }}
    
    <script>
        function confirmDelete() {
            var id = document.forms[0]["id"].value;
            return confirm("id " + id + " を本当に削除しますか？");
        }
    </script>
{% endblock %}