{% extends "layout/base.html" %}

{% block title %}
    ユーザー登録
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center">
    <div class="col-md-7 mt-5">
        <h2 class="text-center">ログイン</h2>
        <form method="POST" class="mt-4">
            <div class="mb-3">
                <label for="username" class="form-label">ユーザー名</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">登録</button>
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='{{ url_for('login_bp.login')}}'">ログインページへ</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}