{% extends "base.html" %}

{% block title %}
    ユーザー登録
{% endblock %}

{% block header %}
    <h1>ユーザー登録</h1>
{% endblock %}

{% block main %}
    <form method="POST">
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">登録</button>
        <br>
        <button type="button" onclick="location.href='{{ url_for('login_bp.login')}}'">ログインページへ</button>
    </form>
{% endblock %}

{% block footer %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
{% endblock %}