@charset "UTF-8";

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #dbebc4;
    z-index: -1;
}
.Paper_v2 {
    background-image:
        repeating-linear-gradient(to bottom,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
            transparent 27px,  transparent 51px,
            rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
            transparent 53px,  transparent 77px,
            rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
            transparent 79px,  transparent 103px,
            rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
            transparent 105px,  transparent 129px,
            rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

        repeating-linear-gradient(to right,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
            transparent 27px,  transparent 51px,
            rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
            transparent 53px,  transparent 77px,
            rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
            transparent 79px,  transparent 103px,
            rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
            transparent 105px,  transparent 129px,
            rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}

/*=============
base
==============*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: .025em;
    line-height: 1.8;
}

* {
    box-sizing: border-box;
}

.section {
    max-width: 1024x;
    margin: 0 auto;
    /*padding: 100px 20px 10px;*/
}

._a {
    max-width: 300px;
    margin: 0 auto;
}

._a a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.0em 1.0em;
    border: 1px solid #222222;
    background: linear-gradient(to right, #dbebc4 50%, #222222 50%);
    background-size: 200% auto;
    color: #222222;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    transition: .3s;
}

._a a:after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
}

._a a:hover {
    color: #dbebc4;
    background-position: -100% 0;
}
