<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データベース削除</title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>



<body> <header>
    <h2>卓球分析</h2>
    <nav class="gnav">
        <ul class="menu">

           <li> <label>年/月/日：<input type="date"></label></li>


        </ul>
    </nav>
</header>

<div>
  <h1>データベースの削除</h1>
  <h2>削除したいデータベースのidを入力してください</h2>


    </div>


    <title>test</title>
    <style>
      div{
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
  <div>

        <form method="post" action="{{url_for('post_delete')}}">

          <table border="1">
              <tr>
                  <th>id</th>

              </tr>
              <tr>
                  <td><input type="int" name="id"></td>

              </tr>
          </table>
      </div>
      <div>
        <input type="submit" value="送信する">
        <label>
          <input type="reset" value="リセットする"></label></label>
        </form>


      </div>
    </form>
  </div>
  </body>
  </html>

</body>

