<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>情報登録</title>
    <link rel="stylesheet" href="/static/css/form.css">
    <style>
        div {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
  <header>
      <h2>卓球分析</h2>
      <nav class="gnav">
          <ul class="menu">
              <li><label>年/月/日：<input type="date"></label></li>
              <li>
                  <input type="search" autocomplete="on" list="list">
                  <datalist id="list">
                      <!-- 候補を表示 -->
                  </datalist>
              </li>
              <input type="submit" value="検索">
          </ul>
      </nav>
  </header>

  <div>
      <h1>ファイルアップロード、情報の入力</h1>
      <h2>アップロードするファイルの選択と情報の入力をお願いします<br>必ずファイルはCSVファイルをアップロードしてください</h2>
  </div>

  <div>
      <form method="post" action="{{url_for('register')}}" enctype="multipart/form-data">
          <input type="file" name="contents" multiple>
          <table border="1">
              <tr>
                  <th>日付</th>
                  <th>自チームの選手名</th>
                  <th>相手チームの選手名</th>
                  <th>自チームの選手の利き手</th>
                  <th>相手チームの選手の利き手</th>
              </tr>
              <tr>
                  <td><input type="date" name="date"></td>
                  <td><input type="text" name="name1"></td>
                  <td><input type="text" name="name2"></td>
                  <td><input type="radio" name="right_left1" value="右" checked>右
                      <input type="radio" name="right_left1" value="左">左
                  </td>
                  <td><input type="radio" name="right_left2" value="右" checked>右
                      <input type="radio" name="right_left2" value="左">左
                  </td>
              </tr>
          </table>
  </div>
  <div>
      <input type="submit" value="登録する">
      <label>
          <input type="reset" value="リセットする">
      </label>
      </form>
  </div>
</body>
</html>
