<link rel="stylesheet"   type="text/css" href="/static/css/back.css">
<link rel="stylesheet" href="/static/css/index.css">
<div class="bg_pattern Paper_v2"></div>
<div class="section">
<table  id="example" border="5" bgcolor="#F0FFF0">
  <style>
    #example{
        margin: auto;
    }
</style>
<header>
  <h2>分析結果のデータベース</h2>
  <h3>見たい分析のidのボタンを押してください</h3>
  <form method="post"  action="{{url_for('sear')}}" enctype="multipart/form-data">
    <nav class="gnav">
      <ul class="menu">

         <li> <label>年/月/日：<input type="date" name="date"></label></li>


         <li><input type="search" name="search" autocomplete="on" list="list"></li>
         <input type="submit" value="検索">



      </ul>
    </nav>
  </form>
</header>
  <tr align="center">
    <th>id</th>
    <th>日付</th>
    <th>自チームの選手名</th>
    <th>相手チームの選手名</th>
    <th>自チームの選手の利き手</th>
    <th>相手チームの選手の利き手</th>
    <th>分析結果へ</th>
  </tr>
  {% for game in games %}
  <tr align="center">
    <td with="50">{{game.id}}</td>
    <td width="150">{{ game.day}}</td>
    <td width="200">{{ game.name1}}</td>
    <td width="200">{{ game.name2}}</td>
    <td width="150">{{ game.right_left1}}</td>
    <td width="150">{{ game.right_left2}}</td>


        <form method="post" action="{{url_for('send')}}" enctype="multipart/form-data">
          <td width="150">
            <input type="hidden" name="id" value="{{game.id}}">
            <input type="hidden" name="name1" value="{{game.name1}}">
            <input type="hidden" name="name2" value="{{game.name2}}">
            <input type="hidden" name="right_left1" value="{{game.right_left1}}">
            <input type="hidden" name="right_left2" value="{{game.right_left2}}">
            <input type="submit" value="{{game.id}}">
          </td>
        </form>


  </tr>
  {% endfor %}
</table>
<div class="wrap">
  <div class="box">
    <input class="button" type="button" onclick="location.href='{{ url_for('form')}}'" value="追加">
  </div>
  <div class="box">
    <input class="button" type="button" onclick="location.href='{{ url_for('delete')}}'" value="削除">
  </div>
</div>
</div>















